.info {
    margin: 0 16px;
    letter-spacing: 2px;
}

.task {
    ul {
        width: 400px;
        margin: 0 auto;
        li {
            background-color: lightgreen;
            &:nth-child(even) {
                background-color: #eaeaea;
            }
        }
    }
}