body {
    text-align: center;
    padding-top: 3rem;
    ul,
    li {
        list-style: none;
        margin: 0 auto;
        padding: 15px;
    }
    li {
        a {
            cursor: pointer;
            transition: all .5s ease;
            text-decoration: none;
            text-shadow: 1px 3px 7px #3ea3ea;
            color: #535353;
            line-height: 40px;
            &:hover {
                color: #ae9823;
                text-shadow: 0px 0px 38px saddlebrown;
            }
        }
    }
    header {
        width: 100%;
    }
    input[type='number']:focus {
        outline: none;
    }
}

 :global(.container) {
    background-color: #eaeaea;
    max-width: 80%;
    margin: 0 auto;
}