@import 'basic';

ul {
  margin-top: 120px;

  li {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 6px;
    border: 1px solid #eaeaea;
    border-bottom: none;
    transition: transform 0.35s ease, background-color 0.41s ease;

    &:last-of-type {
      border-bottom: 1px solid #eaeaea;
    }

    &.selected {
      transform: scale(1.1, 1.2);
      background-color: #38658c;
      color: #eaeaea;
    }
  }
}

.selectRange {
  position: fixed;
  z-index: 99;
  display: none;
  width: 0;
  height: 0;
  background-color: rgba(10, 180, 205, 0.23);
  border: 1px solid rgba(55, 134, 200, 0.6);
}